*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
main{
    margin-left: 15px;
}
.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
.pagination a.active{
    background-color: hsl(120, 64%, 60%);
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: hsl(0, 0%, 66%);
}
h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(75, 75, 75);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 12%);
}
.navbar li{
    float: left;
}

header{
    background-color: hsl(0, 0%, 83%);
    text-align: center;
    padding: 25px;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
footer{
    display: block;
    clear: both;
    background-color: hsl(0, 0%, 83%);
    text-align: center;
    padding: 25px;
}
@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
}